@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

@font-face {
    font-family: 'KdamThmor';
    font-weight: 700;
    src: url(assets/KdamThmorPro-Regular.ttf);
}

#paragrafAlta {
    font-size: large;
    font-family: 'KdamThmor';
    width: 50%;
    height: auto;
    background-color: aquamarine;
}

.company {
    font-family: 'Fascinate';
    color: coral;
}