@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

@font-face {
    font-family: 'KdamThmor';
    font-weight: 700;
    src: url(assets/KdamThmorPro-Regular.ttf);
}

#paragrafAlta {
    font-size: large;
    font-family: 'KdamThmor';
    width: 50%;
    height: auto;
    padding: 10px 100px;
    transition: color 0.5s ease;
    background-image: url("assets/tri_blue-600x600.jpg");
    background-size: 100%;
    position: relative;
}

#paragrafAlta:hover {
    background-color: rgba(11, 11, 11, 0.7);
    color: white
}

.company {
    font-family: 'Fascinate';
    color: coral;
}

.institute {
    background-color: steelblue;
    margin: 50px;
    background-repeat: no-repeat;
    background-color: rgba(11, 11, 11, 0.7);
    background-position: top center;
    background-size: 100%;
    border: 2px solid blue;
}

.institute table, th, td {
    border: 3px solid green;
}

.institute:hover {
    background-color: chocolate;
}

.institute:active {
    background-color: cyan;
}

.institute:visited {
    background-color: blueviolet;
}

.institute:nth-child(even) {
    background-color: aqua;
}

body {
    margin: 0;
    padding-bottom: 60px;
    min-height: 100%;
}

#imgGif {
    display: none;
}

.color-red {
    background-color: red;
    color: white;
    width: 100px;
    height: 100px;
    display: flex;
}

.color-green {
    background-color: green;
    color: white;
    width: 200px;
    height: 200px;
    display: flex;
}

.color-yellow {
    background-color: gold;
    color: black;
    width: 150px;
    height: 150px;
    display: flex;
}

.m-50 {
    margin: 50px;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}

#imgParagraf {
    position: absolute;
    top: 50%;
    right: 50%;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 50%;
    right: 10px;
    height: 60px;
    background-color: cyan;
    box-shadow: 5px 5px black;
    border-radius: 10px;
}

.imgDiv {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}

.imgDiv img {
    width: 25vh;
    position: absolute;
}